.szuro {
    padding: 20px;
    background-color: #CDC5B4; 
    border-right: 1px solid #ddd;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.szuroFeltetelek {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 5px;
}

.szuroFeltetelek h1 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: black;
}

.szuroReszp {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 15px;
}


@media (min-width: 1200px) {
    .szuroReszp {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.termekek-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px;
    padding: 20px;
}

@media (max-width: 1200px) {
    .termekek-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .termekek-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 480px) {
    .termekek-container {
        grid-template-columns: 1fr;
    }
}


.custom-dropdown .dropdown-toggle {
    background-color: #635C51; 
    color: white; 
    border: none; 
}


.custom-dropdown .dropdown-toggle:hover    {
    background-color: #635C51; 
    color: white;
    
}

#dropdown-basic-button{
    background-color: #635C51;
}