
.kkep {
    aspect-ratio: 3/4;
    width: 100%;
    height: auto;
    max-height: 70%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.kkep:hover {
    opacity: 0.9;
}


.kar {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

